* {
    padding: 0;
    margin: 0;
    font-family: 'Martel Sans', sans-serif;

}

body {
    background-color: black;
}

.main {
   
    height: 100vh;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);  
    z-index: 1;
}



.main .box {
    background-image: url(assets/Images/bg.jpg);
    height: 100vh;
    width: 100%;
    background-position: center center;
    background-color: black;
    opacity: 0.55;
    position: absolute;
    top: 0;
     /* background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);  */

}

nav {

    display: flex;

    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100px;
    margin-left: 152px;
    margin-right: 180px;

}

nav img {
    width: 150px;
}



.main .enjoy {
    color: white;
    display: flex;

    font-size: 50px;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    margin-top: 150px;
    @import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@900&display=swap');
    font-family: 'Martel Sans', sans-serif;

}

.join {

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    font-size: large;
    margin-top: 15px;
}

.from {
    color: white;
    display: flex;
    margin-top: 10px;
    font-size: 50px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

}

.Ready {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    font-size: large;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    z-index: 1;
    font-size: x-large;
    margin-bottom: 20px;
}

.btn-red1 {
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: 3px 12px;
    border-radius: 5px;
}

.btn-red2 {
    background-color: red;
    color: white;
    border: 1px solid black;
    padding: 17px 30px;
    border-radius: 5px;
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input input {
    background-color: black;
    border: 1px solid white;
    padding: 21px 170px 24px 27px;
    border-radius: 5px;

    opacity: 0.6;
    color: white;
    font-size: medium;
}

.input {
    gap: 10px;
}

.btn {
    background-color: black;
    border: 1px solid white;
    color: white;
}

.grey {
    height: 8px;
    background-color: #2d2d2d;
    width: 100%;

}

.content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: -25px;
    font-size: x-large;
    height: 91vh;


}

.content .con1 {
    margin-bottom: 20px;
}

.con1 p {
    font-size: 50px;
}

.content .con2 {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.box1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.img1 img {
    height: 340px;
    width: 450px;
    margin-right: -450px;
    position: relative;
    z-index: 1;
}

.img1 video {
    position: relative;
    right: -54px;
    bottom: 85px;
    object-fit: fill;
    object-position: -3px;
    height: 27vh;
}

.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img2 img {
    height: 365px;
    width: 455px;
    margin-right: 50px;
    position: relative;
}

.download {
    border: 2px solid grey;
    height: 15vh;
    width: 21vw;
    margin-top: -131px;
    position: relative;
    margin-left: 99px;
    border-radius: 10px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

}

.download img {
    height: 68px;
    width: 53px;
    margin-left: -78px;
}

.down {
    margin-left: -40px;
    position: relative;
}

.down img {

    position: absolute;
    left: 200px;
    bottom: 3px;
    width: 50px;
    height: 50px;
}

.box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
}

.img3 img {
    height: 339px;
    width: 470px;
    margin-right: -454px;
    position: relative;
    z-index: 1;
}

.img3 video {
    position: relative;
    right: -60px;
    bottom: 123px;
    object-fit: fill;
    object-position: -5px;
    height: 26vh;
}

.box4 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-weight: 900;
    margin-bottom: 30px;
}

.faqbox {
    background-color: #2d2d2d;
    color: white;
    width: 70vw;
    margin: 10px auto;
    padding: 20px;
    font-size: x-large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;


}

.faqbox:hover {
    background-color: rgb(73, 73, 73);
    transition: all 0.3s ease-out;
}

.endline {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin-top: 42px;
    margin-bottom: 20px;
}

.questions {
    color: #b3b3b3;
    display: flex;
    margin-left: 210px;
    align-items: center;
    margin-top: 70px;
}

.questions a {
    color: #b3b3b3;
}

.links {
    display: grid;
    margin-top: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px 40px 40px 40px;
    margin-left: 210px;

}

.links a {
    color: #b3b3b3;
}

select {
    background-color: black;
    color: white;
    margin-left: 210px;
    padding: 5px 15px 5px 15px;
    border-radius: 4px;
    border: 1px solid #b3b3b3;
    ;
}

.netflix {
    color: #b3b3b3;
    margin-left: 210px;
    margin-top: 20px;
    margin-bottom: 70px;
}

@media screen and (max-width: 430px) {
    body .main {
        height: 66vh;

        background-size: 1200px;
        background-position: center;


    }

    .main .box {
        width: 100%;
    }

    .main .enjoy {
        margin-top: 50px;
    }


}

@media screen and (max-width: 959px) {

    body {

        width: 1142px;
    }


    .main .box {
        width: 100%;
        height: 54vh;
    }

    body .main {
        height: 54vh;
    }

    .main .enjoy {
        margin-top: 129px;
        margin-left: -237px;
        font-size: xx-large;
    }

    .main .from {
        font-size: xx-large;
        position: absolute;
        right: 234px;
        bottom: 273px;
    }

    nav {
        margin-left: 40px;
        margin-right: 61px;
        height: 90px;
    }

    nav img {
        width: 99px;
    }

    .main .join {
        margin-top: 25px;
    }

    .main .Ready {
        margin-top: 25px;
    }

    .con1 p {
        font-size: xx-large;
    }

    .img1 img {
        height: 340px;
        width: 450px;
        margin-right: -450px;
        position: relative;
        z-index: 1;
    }


}
